/* common */
body{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3{
  font-weight: normal;
  margin: 0;
}

/* h2{
    font-size: 18px;
} */

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    width: calc(100% - 100px);
    margin: 0 auto;
    max-width: 800px;
}

:root{
  --Mincho-font:"游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "MS Ｐ明朝", "MS PMincho", serif;
  --Gothic-font:"游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

ruby{
  ruby-position: under;
  text-align: center;
  ruby-align: center;
}

rt{
  text-align: inherit;
  font-size: 30%;
}

/* header */

header p, 
header h1{
  text-align: center;
}

header p{
  font-size: 10px;
  color: gray;
}

header h1{
  font-size: 42px;
  letter-spacing: 4px;
  font-family: sans-serif;
  height: 76px;
  line-height: 76px;
}


/* hero */

.hero{
  width: 100%;
  height: 330px;
  line-height: 330px;
  background-image: url(../img/main1.png);
  background-size: cover;
  color: white;
  font-size: 24px;  
  font-family: var(--Mincho-font);
  text-align: center;
}




/* notice */

.notice{
  margin-top: 16px;
  width: 100%;
  height: 72px;
  background: #f5f5ee;
  display: flex;
  align-items: center;
}

.notice div{
  display: flex;
}

.notice img{
  width: auto;
  height: 56px;
  margin-left: 16px;
}

.notice a{
  height: 56px;
  transition: opacity .3s ;
}

.notice a:hover{
  opacity: 0.7;
}

.notice a+a{
  box-sizing: border-box;
  font-size: 14px;
  padding: 4px 0 0 4px;
  transition: color 1s;
}

.notice a+a:hover{
  color: darkolivegreen;
}


/* inquiry */

.inquiry{
  width: 60%;
  padding: 32px 0 16px;
  margin: 0 auto;
}

.inquiry p{
  font-size: 12px;
  font-family: var(--Mincho-font);
  color: #333;
  text-align: center;
}

.inquiry ul{
  display: flex;
  gap: 4px;
}

.inquiry img{
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* recruit */

.recruit{
  padding: 16px 0;
}
.recruit img{
  width: 100%;
  height: 275px;
  object-fit: cover;
  vertical-align: bottom;
}


/* blog */

.blog{
    padding: 32px 0;
}

.blog-category{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.blog-category li a{
  position: relative;
  font-size: 12px;
  font-family: var(--Mincho-font);
  letter-spacing: 2px;
  color:#333 ;
}

.blog-category li a::after{
  content: "";
  /* 線の位置 */
  position: absolute;
  bottom: -4px;
  left: 0;
  /* 線の形状 */
  width: 100%;
  height: 1px;
  background: black;
  /* アニメーションの指定 */
  transition: all .5s;
  transform: scale(0,1);
  transform-origin: center top;
}

.blog-category a:hover::after{
  transform: scale(1,1); /* X方向にスケール拡大 */
}

.blog-category i{
  margin-right: 2px;
}

.blog-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    gap: 16px;
}

/* 1,2番目の記事 */
.blog-article li{
    width: calc(100% - 16px);
}

/* 3番目以降の記事 */
.blog-article li:nth-child(n+3){
    width: calc((100% - 32px) / 2);
}
.blog-article li:nth-child(n+3) div img{
  display: none;
}

.blog-article a{
  transition: opacity .5s;
}

.blog-article a:hover{
  opacity: 0.7;
}

.blog-article li img{
    width: 100%;
}

.blog-article li div{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.blog-article li div img{
    width: 30px;
    height: 30px;
}

/* 記事のキャプション */
.blog-article .desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 記事の日付 */
.blog-article .desc p{
    font-size: 12px;
    color: gray;
}

.blog-article h2{
  font-size: 18px;
}


/* can-do */

.can-do{
  background: #f6faf2;
  width: 100%;
  padding: 64px 0 0;
}

.can-do .features h2,h3,p{
  font-family: var(--Mincho-font);
}

.can-do .features h2{
  font-size: 22px;
  letter-spacing: 4px;
  padding-bottom: 24px;
  text-align: center;
}

.can-do .features li{
  width: 70%;
  margin: 0 auto;
}

.can-do .features div{
  position: relative;
  margin-bottom: 150px;
}

.can-do .features img{
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
  border: 2px solid #b2b2b2;

  position: relative;
  z-index: 1;
}

/* 奇数番目の記事 */
.can-do .features li:nth-child(odd) img{
  left: -8px;
}

/* 偶数番目の記事 */
.can-do .features li:nth-child(even) img{
  left: 48px;
}

.can-do .features h3{
  width: 80%;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  background: #f2efe2;
  box-shadow: -8px 8px #e2e6e9;
  position: absolute;
  z-index: 2;
}

/* 奇数番目の記事 */
.can-do .features li:nth-child(odd) h3{
  top: 100%;
  transform: translate(64px,-50%);
}

/* 偶数番目の記事 */
.can-do .features li:nth-child(even) h3{
  top: 100%;
  transform: translate(24px,-50%);
}

.can-do .features p{
  box-sizing: border-box;
  width: 100%;
  padding: 80px 16px 32px;
  color: #333;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fff;
  
  position: absolute;
}

/* 奇数番目の記事 */
.can-do .features li:nth-child(odd) p{
  top: 100%;
  transform: translate(20px,-40px);
}

/* 偶数番目の記事 */
.can-do .features li:nth-child(even) p{
  top: 100%;
  transform: translate(0px,-40px);
}

.can-do .futureshop{
  display: block;
  padding: 16px 0 0;

}

.can-do .futureshop img{
  display: block;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
}

/* about-us */

.about-us ul{
  display: flex;
  transform: translateX(-16vw);
}

.about-us img{
  width: 33vw;
}

/* co-philosophy */

.co-philosophy div{
  width: 80%;
  margin: 0 auto;
  padding: 32px 0;
}

.co-philosophy h2{
  font-size: 20px;
  text-align: center;
}

.co-philosophy h3{
  font-size: 30px;
  font-family: var(--Mincho-font);
  text-align: center;
  padding: 32px 0;
}

.co-philosophy p{
  font-size: 14px;
  font-family: var(--Gothic-font);
  line-height: 1.8;
  padding-bottom:16px ;
}

/* solepro */

.solepro{
  width: 100%;
  height: 330px;
  background-image: url(../img/main1.png);
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.solepro div{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 4px;
  padding: 16px;
}

.solepro h2{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 16px;
}

.solepro p{
  font-size: 14px;
  font-family: var(--Gothic-font);
  line-height: 1.8;
  background-color:rgb(240,240,240,.9);
}


/* days */

.days{
  padding: 32px 0;
}

.days h2{
  font-size: 22px;
  font-family: var(--Mincho-font);
  letter-spacing: 4px;
  text-align: center;
  padding-bottom: 32px;
}

.days ul{
  display: flex;
  flex-wrap: wrap;
  gap: 16px ;
}

.days li{
  width: calc((100% - 32px) / 3);
}

.days li img{
  width: 100%;
}

.days li a{
  transition: opacity .3s;
}

.days li a:hover{
  opacity: 0.7;
}

.days .more{
  display: block;
  width: 70%;
  font-family: var(--Mincho-font);
  color: #333;
  letter-spacing: 1px;
  line-height: 40px;
  border: 1px solid #333;
  text-align: center;
  margin: 32px auto 0;
}


/* footer */

footer{
  background: #f1f2ee;
  padding: 40px 0 32px;
}

footer h2,
h3,
p{
  font-family: var(--Gothic-font);
  text-align: center;
}

footer h2{
  font-size: 60px;
  letter-spacing: 2px;
  padding-bottom: 16px;
}

footer h3,
p{
  color: #555;
  padding-bottom: 4px;
}

footer h3{
  font-size: 14px;
  font-weight: bold;
}

footer p{
  font-size: 12px;
}

footer .adress li{
  padding-bottom: 16px;
}

footer .copyright{
  font-size: 14px;
  color: #aaa;
  text-align: center;
  padding: 16px 0;
}